
/* html {
 background-image: linear-gradient(rgb(252, 238, 222), rgba(216, 217, 240, 0.7)),
     url(../src/img/background.png);
background-position: center;
background-size: cover;
    } */
/* html,
body {
    height: 100%;
    margin: 0;
} */

body.page-norm {
    min-height: 100vh;

    background-image:
        linear-gradient(rgb(252, 238, 222), rgba(216, 217, 240, 0.7)),
        url("/src/img/background.png");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-bmi-norm{
    display: flex;
    justify-content: center;
    gap: 56px;
    padding: 0 20px;
    justify-content: center;
}
.paragraph-container{
    display: flex;
    flex-direction: column;
    max-width: 460px;
}
img{
max-width: 100%;
height: auto;
display: block;
object-fit: contain;

}
.content {
    display: flex;
    gap: 40px;
}

.text {
  flex: 1;
}

.wrapper {
  flex: 1;
  position: relative;
}
